.display_btn 
  = link_to contacts_index_path, class:'new_list' do
    .display_btn__in_box
      .display_btn__in_box__text
        = "相談する"
    -# = link_to new_item_path do
    -#   = image_tag 'icon_camera.png', class:'new_list'