.main-area
  .main-area__home
    Home
  .main-area__member
    .main-area__member__up
      .main-area__member__up__first
        スキル１
      .main-area__member__up__second
        スキル２
    .main-area__member__down
      .main-area__member__down__first
        スキル３
      .main-area__member__down__second
        スキル４