.status-area
  .status-area__title
    Introduction.
  .status-area__intro
    .status-area__intro__img
      = image_tag 'holding-1149521_1920.jpg', class: 'intro-img'
    .status-area__intro__comment
      Web制作
      食生活アドバイザー
      伝わる話し方〜新人編〜