.status-area
  .status-area__title
    Introduction.
  .status-area__intro
    .status-area__intro__img
      = image_tag 'holding-1149521_1920.jpg', class: 'intro-img'
    %ul.status-area__intro__comment
      %li＜出来ること＞
      %li 　・Web制作
      %li 　・食生活アドバイザー
      %li 　・伝わる話し方 〜新人用〜
      %li 　・テニス 〜中級〜