.wrapper
  = render "teams/display_btn"
  = render "teams/top_header"

  .title
    -# .title__word
    Portfolio
  .portfolio-area1
    = link_to "アプリ１", "#", class:'links';
  .futer
    = render "teams/bottom_footer"

