* {
  box-sizing: border-box;
}
.wrapper{
  background-color: ivory;
}

// トップヘッダー
.heder{
  // background-color: aquamarine;
  // color: snow;
  // padding-top: 20px;
  // padding-left: 60px;
  // font-size: xx-large;
  // font-style: italic;
  // text-decoration: none;
  // text-decoration: underline;
  background-image: image-url('Night.png');
  background-size: cover;
  height: 500px;
  width: 100%;
  &__logo{
    display: block;
    color: snow;
    padding-top: 50px;
    padding-left: 60px;
    font-size: xx-large;
    font-style: italic;
    text-decoration: none;
  }
}

// スキルエリア
.title-skill{
  font-size: x-large;
  font-style: italic;
  // text-align: center;
  color: black;
  margin-top: 30px;
  padding-left: 70px;
}

.skill-area{
  height: 400px;
  width: 80vw;
  margin: 0 auto;
  position: relative;
  &__home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    // height: 30%;
    // width: 30%;
    line-height: 100px;
    text-align: center;
    width:200px;
    height:100px;
    background:#81C7D4;
    -moz-border-radius: 100px / 50px;	/* 高さ÷2 */
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    font-size: large;
  }
  &__member{
    // height: 400px;
    // width: 150px;
    margin-top: 20px;
    
    &__up{
      display: flex;
      height: 187px;
      margin: 0 auto;
      &__first{
        // text-align: left;
        line-height: 200px;
        padding: 0 auto;
        height: 100%;
        width: 50%;
        background-image: image-url('mac.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: cadetblue;
      }
      &__second{
        text-align: right;
        line-height: 200px;
        height: 100%;
        width: 50%;
        background-image: image-url('speak.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        // background-image: image-url('woman-and-robot.jpg');
        background-color: goldenrod;
      }
    }
    &__down{
      display: flex;
      height: 187px;
      margin: 0 auto;
      &__first{
        text-align: left;
        line-height: 200px;
        height: 100%;
        width: 50%;
        background-image: image-url('snow-drink.png');
        background-size: cover;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: top center;
        background-color: tomato;
      }
      &__second{
        text-align: right;
        line-height: 200px;
        height: 100%;
        width: 50%;
        background-image: image-url('mac.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: mediumpurple;
      }
    }
  }
  .member-name{
    text-decoration: none;
    text-align: right;
    color: black;
    font-size: xx-large;
  }
  .member-pictuer{
    height: 100%;
    width: 80%;
  }

  .home-name{
    text-decoration: none;
    font-size: large;
    color: black;
  }

}

// ステータスエリア
.status-area{
  background-color: black;
  height: 500px;
  // width: 80vw;
  margin-top: 40px;
  padding: 0 auto;
  &__title{
    font-size: x-large;
    font-style: italic;
    // text-align: center;
    color: snow;
    padding-top: 30px;
    padding-left: 70px;
  }
  &__intro{
    margin: 10px auto;
    width: 80vw;
    display: flex;
    &__img{
      // height: 300px;
      // width: 100px;
    }
    &__comment{
      width: 50%;
      color: snow;
    }
  }
}
.intro-img{
  height: 400px;
  width: 300px;
}

//ボトムフッター
.bottom-footer{
  background: black;
  font-size: small;
  color: snow;
  font-style: italic;
  text-align: left;
  padding-left: 20px;
}

//相談ボタン or 依頼ボタン
.display_btn {
  height: 70px;
  width:130px;
  background-color: #3CCACE;
  z-index: 3;
  box-sizing: border-box;
  display: block;
  position: fixed;
  right: 32px;
  bottom: 32px;
  flex-direction: column; 
  justify-content: center;     
  align-items: center; 
  border-radius: 10px;
  &__in_box{
    // padding: 15px 15px 15px 15px;
    text-align: center;
    &__text{
      font-size: 18px;
      color: #fff;
    }
  }
}
.new_list {
  height: 65px;
  width: 65px;
  color:#fff;
  margin-left:30px;
  text-decoration: none;
}
